.custom-navbar{
background-color:orange;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand,
.custom-navbar .dropdown-toggle{
color: white;
font-weight: 500;

}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-toggle:hover{
  color: #38bdf8 ;
  transition: 0.3s;
}


.Search{
  width: 1000px ;
  border-radius: 30px;
  padding: 8px 10px;
  border: none;
}

.logo{
  width: 60px;
  border-radius: 10px;
}

.cart{
  margin-left: 15px;
  font-size: 18px;
}
.map{
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto auto auto auto  ;
  justify-content: center;
  gap: 13px;
}

.editBtn {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 10px;
  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.editBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  
}


.social-icons i {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Instagram */
.social-icons .bi-instagram:hover {
  color: #e1306c;
  transform: translateY(-5px);
}

/* Facebook */
.social-icons .bi-facebook:hover {
  color: #1877f2;
  transform: translateY(-5px);
}

/* Twitter/X */
.social-icons .bi-twitter:hover {
  color: #4e83af;
  transform: translateY(-5px);
}

/* LinkedIn */
.social-icons .bi-linkedin:hover {
  color: #0a66c2;
  transform: translateY(-5px);
}

/* YouTube */
.social-icons .bi-youtube:hover {
  color: #ff0000;
  transform: translateY(-5px);
}